VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69c3aeb5001e29bce67a
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_POSTS_COLLECTION_ID=your_posts_collection_id
VITE_APPWRITE_COMMENTS_COLLECTION_ID=your_comments_collection_id
VITE_APPWRITE_BUSINESSES_COLLECTION_ID=your_businesses_collection_id
VITE_APPWRITE_CIRCLES_COLLECTION_ID=your_circles_collection_id
VITE_APPWRITE_CHANNELS_COLLECTION_ID=your_channels_collection_id
VITE_APPWRITE_MESSAGES_COLLECTION_ID=your_messages_collection_id
VITE_APPWRITE_BUCKET_ID=your_bucket_id
